<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YouTube Video Downloader</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    </head>
    <body>
        <header><h1>Downloaded!</h1></header>
        <p>Look for the video on your computer in the same folder as this website.</p>
        <form action="/">
            <button>Home</button>
        </form>
    </body>
</html>