<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>YouTube Video Downloader</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    </head>
    <body>
        <header><h1>Download YouTube Videos</h1></header>
        <form action="/downloaded/" method="post" style="display: flex; flex-direction: column;">
            <label for="link" style="margin-bottom: 15px;">YouTube Video Link</label>
            <input type="text" style="margin-bottom: 15px;" id="link" name="link" placeholder="Paste the video link here">
            <button type="submit">
                <span class="button_text">Download</span>
            </button>
        </form>
    </body>
</html>